@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --vh: 1vh;
    --primary: hsl(46, 56%, 64%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button {
    @apply uppercase font-medium transition duration-300 cursor-pointer border-b-4 border-transparent mx-10 font-light tracking-wider;
}

.access-button {
    @apply sr-only;
}

.access-button:focus-visible {
    @apply not-sr-only bg-primary py-2 px-4 text-gray-800 fixed m-4;
}

@layer utilities {
    .h-screen {
        height: 100vh;
        height: calc(100 * var(--vh));
    }

    .text-primary {
        color: var(--primary);
    }

    .border-color-primary {
        border-color: var(--primary);
    }

    .bg-primary {
        background-color: var(--primary);
    }

    @variants hover {
        .text-primary {
            color: var(--primary);
        }

        .border-color-primary {
            border-color: var(--primary);
        }

        .bg-primary {
            background-color: var(--primary);
        }
    }
}
